In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine
import folium as fol
from folium.plugins import HeatMap
import requests
from config import geoapify_key

In [2]:
engine = create_engine('postgresql://francis:password@localhost:5432/CRIME')

In [4]:
df = pd.read_sql("SELECT * FROM crime_data;", engine)
df

,id,report_year,agency_code,agency_jurisdiction,population,violent_crimes,homicides,rapes,assaults,robberies,months_reported,crimes_percapita,homicides_percapita,rapes_percapita,assaults_percapita,robberies_percapita
0,1,1975,NM00101,"Albuquerque, NM",286238.0,2383.0,30.0,181.0,1353.0,819.0,12.0,832.52,10.48,63.23,472.68,286.13
1,2,1975,TX22001,"Arlington, TX",112478.0,278.0,5.0,28.0,132.0,113.0,12.0,247.16,4.45,24.89,117.36,100.46
2,3,1975,GAAPD00,"Atlanta, GA",490584.0,8033.0,185.0,443.0,3518.0,3887.0,12.0,1637.44,37.71,90.30,717.10,792.32
3,4,1975,CO00101,"Aurora, CO",116656.0,611.0,7.0,44.0,389.0,171.0,12.0,523.76,6.00,37.72,333.46,146.58
4,5,1975,TX22701,"Austin, TX",300400.0,1215.0,33.0,190.0,463.0,529.0,12.0,404.46,10.99,63.25,154.13,176.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2683,2684,2014,AZ01003,"Tucson, AZ",527328.0,3443.0,35.0,399.0,2021.0,988.0,12.0,652.91,6.64,75.66,383.25,187.36
2684,2685,2014,OK07205,"Tulsa, OK",399556.0,3217.0,46.0,313.0,1938.0,920.0,12.0,805.14,11.51,78.34,485.04,230.26
2685,2686,2014,VA12800,"Virginia Beach, VA",451102.0,667.0,17.0,115.0,285.0,250.0,12.0,147.86,3.77,25.49,63.18,55.42
2686,2687,2014,DCMPD00,"Washington, DC",658893.0,7810.0,105.0,470.0,4004.0,3231.0,12.0,1185.32,15.94,71.33,607.69,490.37
2687,2688,2014,KS08703,"Wichita, KS",387493.0,2939.0,21.0,243.0,2179.0,496.0,12.0,758.47,5.42,62.71,562.33,128.00

In [5]:
df_cities = df['agency_jurisdiction'].unique()
df_cities

array(['Albuquerque, NM', 'Arlington, TX', 'Atlanta, GA', 'Aurora, CO',
       'Austin, TX', 'Baltimore County, MD', 'Baltimore, MD',
       'Boston, MA', 'Buffalo, NY', 'Charlotte, NC', 'Chicago, IL',
       'Cincinnati, OH', 'Cleveland, OH', 'Columbus, OH', 'Dallas, TX',
       'Denver, CO', 'Detroit, MI', 'El Paso, TX', 'Fairfax County, VA',
       'Fort Worth, TX', 'Fresno, CA', 'Honolulu, HI', 'Houston, TX',
       'Indianapolis, IN', 'Jacksonville, FL', 'Kansas City, MO',
       'Las Vegas, NV', 'Long Beach, CA', 'Los Angeles County, CA',
       'Los Angeles, CA', 'Memphis, TN', 'Mesa, AZ',
       'Miami-Dade County, FL', 'Miami, FL', 'Milwaukee, WI',
       'Minneapolis, MN', 'Montgomery County, MD', 'Nashville, TN',
       'Nassau County, NY', 'New Orleans, LA', 'New York City, NY',
       'Newark, NJ', 'Oakland, CA', 'Oklahoma City, OK', 'Omaha, NE',
       'Orlando, FL', 'Philadelphia, PA', 'Phoenix, AZ', 'Pittsburgh, PA',
       'Portland, OR', "Prince George's County, MD", 'Raleigh, NC',
       'Sacramento, CA', 'Salt Lake City, UT', 'San Antonio, TX',
       'San Diego, CA', 'San Francisco, CA', 'San Jose, CA',
       'Seattle, WA', 'St. Louis, MO', 'Suffolk County, NY', 'Tampa, FL',
       'Tucson, AZ', 'Tulsa, OK', 'Virginia Beach, VA', 'Washington, DC',
       'Wichita, KS', 'Louisville, KY'], dtype=object)

In [6]:

latitudes = []
longitudes = []

In [7]:
base_url = 'https://api.geoapify.com/v1/geocode/search'

# Loop through the cities and get coordinates using Geoapify API
for city in df_cities:
    params = {
        'text': city,
        'apiKey': geoapify_key
    }
    response = requests.get(base_url, params=params).json()
    
    # Check if the response contains results
    if response['features']:
        latitudes.append(response['features'][0]['properties']['lat'])
        longitudes.append(response['features'][0]['properties']['lon'])
    else:
        latitudes.append(None)
        longitudes.append(None)

In [8]:
coordinates_df = pd.DataFrame({
    'City': df_cities,
    'Latitude': latitudes,
    'Longitude': longitudes
})
print(coordinates_df)

                  City   Latitude   Longitude
0      Albuquerque, NM  35.084103 -106.650985
1        Arlington, TX  32.735582  -97.107119
2          Atlanta, GA  33.748992  -84.390264
3           Aurora, CO  41.757170  -88.314754
4           Austin, TX  30.341599  -97.587213
..                 ...        ...         ...
63           Tulsa, OK  36.156312  -95.992752
64  Virginia Beach, VA  36.849658  -75.976075
65      Washington, DC  38.895037  -77.036543
66         Wichita, KS  37.692236  -97.337545
67      Louisville, KY  38.254238  -85.759407

[68 rows x 3 columns]