In [19]:
import pandas as pd
import folium
from folium.plugins import MarkerCluster

In [20]:
#Load the Data
df = pd.read_csv('report.csv')

In [23]:
#Inspect the Data
df

,report_year,agency_code,agency_jurisdiction,population,violent_crimes,homicides,rapes,assaults,robberies,months_reported,crimes_percapita,homicides_percapita,rapes_percapita,assaults_percapita,robberies_percapita
0,1975,NM00101,"Albuquerque, NM",286238.0,2383.0,30.0,181.0,1353.0,819.0,12.0,832.52,10.48,63.23,472.68,286.13
1,1975,TX22001,"Arlington, TX",112478.0,278.0,5.0,28.0,132.0,113.0,12.0,247.16,4.45,24.89,117.36,100.46
2,1975,GAAPD00,"Atlanta, GA",490584.0,8033.0,185.0,443.0,3518.0,3887.0,12.0,1637.44,37.71,90.30,717.10,792.32
3,1975,CO00101,"Aurora, CO",116656.0,611.0,7.0,44.0,389.0,171.0,12.0,523.76,6.00,37.72,333.46,146.58
4,1975,TX22701,"Austin, TX",300400.0,1215.0,33.0,190.0,463.0,529.0,12.0,404.46,10.99,63.25,154.13,176.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2824,2015,OK07205,"Tulsa, OK",401520.0,3628.0,55.0,365.0,2354.0,854.0,NaN,903.57,13.70,90.90,586.27,212.69
2825,2015,VA12800,"Virginia Beach, VA",452797.0,626.0,19.0,103.0,234.0,270.0,NaN,138.25,4.20,22.75,51.68,59.63
2826,2015,DCMPD00,"Washington, DC",672228.0,8084.0,162.0,494.0,4024.0,3404.0,NaN,1202.57,24.10,73.49,598.61,506.38
2827,2015,KS08703,"Wichita, KS",389824.0,3839.0,27.0,349.0,2730.0,733.0,NaN,984.80,6.93,89.53,700.32,188.03
2828,2015,NaN,United States,NaN,1197704.0,15696.0,NaN,NaN,NaN,NaN,372.60,4.90,NaN,NaN,NaN

In [25]:
#Inspect the Data
print(df.head())

   report_year agency_code agency_jurisdiction  population  violent_crimes  \
0         1975     NM00101     Albuquerque, NM    286238.0          2383.0
1         1975     TX22001       Arlington, TX    112478.0           278.0
2         1975     GAAPD00         Atlanta, GA    490584.0          8033.0
3         1975     CO00101          Aurora, CO    116656.0           611.0
4         1975     TX22701          Austin, TX    300400.0          1215.0

   homicides  rapes  assaults  robberies  months_reported  crimes_percapita  \
0       30.0  181.0    1353.0      819.0             12.0            832.52
1        5.0   28.0     132.0      113.0             12.0            247.16
2      185.0  443.0    3518.0     3887.0             12.0           1637.44
3        7.0   44.0     389.0      171.0             12.0            523.76
4       33.0  190.0     463.0      529.0             12.0            404.46

   homicides_percapita  rapes_percapita  assaults_percapita  \
0                10.48            63.23              472.68
1                 4.45            24.89              117.36
2                37.71            90.30              717.10
3                 6.00            37.72              333.46
4                10.99            63.25              154.13

   robberies_percapita
0               286.13
1               100.46
2               792.32
3               146.58
4               176.10

In [27]:
#Drop Rows with Missing Data
df_cleaned = df.dropna()  # This will drop all rows with any missing values

In [49]:
#Add id Column
df_cleaned.loc[:, 'id'] = range(1, len(df_cleaned) + 1)

In [55]:
#Drop ID columnn
df_cleaned = df_cleaned.drop(columns=['ID'])

In [59]:
#Array for column order
new_column_order = ['id', 'report_year', 'agency_code', 'agency_jurisdiction', 
                    'population', 'violent_crimes', 'homicides', 'rapes', 
                    'assaults', 'robberies', 'months_reported', 
                    'crimes_percapita', 'homicides_percapita', 
                    'rapes_percapita', 'assaults_percapita', 'robberies_percapita']

In [61]:
#Applying new column order
df_cleaned = df_cleaned[new_column_order]

In [63]:
#Inspect the Data
df_cleaned

,id,report_year,agency_code,agency_jurisdiction,population,violent_crimes,homicides,rapes,assaults,robberies,months_reported,crimes_percapita,homicides_percapita,rapes_percapita,assaults_percapita,robberies_percapita
0,1,1975,NM00101,"Albuquerque, NM",286238.0,2383.0,30.0,181.0,1353.0,819.0,12.0,832.52,10.48,63.23,472.68,286.13
1,2,1975,TX22001,"Arlington, TX",112478.0,278.0,5.0,28.0,132.0,113.0,12.0,247.16,4.45,24.89,117.36,100.46
2,3,1975,GAAPD00,"Atlanta, GA",490584.0,8033.0,185.0,443.0,3518.0,3887.0,12.0,1637.44,37.71,90.30,717.10,792.32
3,4,1975,CO00101,"Aurora, CO",116656.0,611.0,7.0,44.0,389.0,171.0,12.0,523.76,6.00,37.72,333.46,146.58
4,5,1975,TX22701,"Austin, TX",300400.0,1215.0,33.0,190.0,463.0,529.0,12.0,404.46,10.99,63.25,154.13,176.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2754,2684,2014,AZ01003,"Tucson, AZ",527328.0,3443.0,35.0,399.0,2021.0,988.0,12.0,652.91,6.64,75.66,383.25,187.36
2755,2685,2014,OK07205,"Tulsa, OK",399556.0,3217.0,46.0,313.0,1938.0,920.0,12.0,805.14,11.51,78.34,485.04,230.26
2756,2686,2014,VA12800,"Virginia Beach, VA",451102.0,667.0,17.0,115.0,285.0,250.0,12.0,147.86,3.77,25.49,63.18,55.42
2757,2687,2014,DCMPD00,"Washington, DC",658893.0,7810.0,105.0,470.0,4004.0,3231.0,12.0,1185.32,15.94,71.33,607.69,490.37
2758,2688,2014,KS08703,"Wichita, KS",387493.0,2939.0,21.0,243.0,2179.0,496.0,12.0,758.47,5.42,62.71,562.33,128.00

In [11]:
#Inspect the Data
print(df_cleaned)

      report_year agency_code agency_jurisdiction  population  violent_crimes  \
0            1975     NM00101     Albuquerque, NM    286238.0          2383.0
1            1975     TX22001       Arlington, TX    112478.0           278.0
2            1975     GAAPD00         Atlanta, GA    490584.0          8033.0
3            1975     CO00101          Aurora, CO    116656.0           611.0
4            1975     TX22701          Austin, TX    300400.0          1215.0
...           ...         ...                 ...         ...             ...
2754         2014     AZ01003          Tucson, AZ    527328.0          3443.0
2755         2014     OK07205           Tulsa, OK    399556.0          3217.0
2756         2014     VA12800  Virginia Beach, VA    451102.0           667.0
2757         2014     DCMPD00      Washington, DC    658893.0          7810.0
2758         2014     KS08703         Wichita, KS    387493.0          2939.0

      homicides  rapes  assaults  robberies  months_reported  \
0          30.0  181.0    1353.0      819.0             12.0
1           5.0   28.0     132.0      113.0             12.0
2         185.0  443.0    3518.0     3887.0             12.0
3           7.0   44.0     389.0      171.0             12.0
4          33.0  190.0     463.0      529.0             12.0
...         ...    ...       ...        ...              ...
2754       35.0  399.0    2021.0      988.0             12.0
2755       46.0  313.0    1938.0      920.0             12.0
2756       17.0  115.0     285.0      250.0             12.0
2757      105.0  470.0    4004.0     3231.0             12.0
2758       21.0  243.0    2179.0      496.0             12.0

      crimes_percapita  homicides_percapita  rapes_percapita  \
0               832.52                10.48            63.23
1               247.16                 4.45            24.89
2              1637.44                37.71            90.30
3               523.76                 6.00            37.72
4               404.46                10.99            63.25
...                ...                  ...              ...
2754            652.91                 6.64            75.66
2755            805.14                11.51            78.34
2756            147.86                 3.77            25.49
2757           1185.32                15.94            71.33
2758            758.47                 5.42            62.71

      assaults_percapita  robberies_percapita
0                 472.68               286.13
1                 117.36               100.46
2                 717.10               792.32
3                 333.46               146.58
4                 154.13               176.10
...                  ...                  ...
2754              383.25               187.36
2755              485.04               230.26
2756               63.18                55.42
2757              607.69               490.37
2758              562.33               128.00

[2688 rows x 15 columns]

In [33]:
#Export new csv
df_cleaned.to_csv("Resources/df_cleaned.csv", encoding="utf-8", index=False, header=True)